In [4]:
import pandas as pd
import numpy as np

nfl_data = pd.read_csv("NFL.csv")
nfl_data

#seed function for taking random values 
np.random.seed(0)

/tmp/ipykernel_10173/1999834561.py:4: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  nfl_data = pd.read_csv("NFL.csv")

In [5]:
nfl_data.head()

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [6]:
#get the number of missing data points
missing_values_count = nfl_data.isnull().sum()

In [7]:
missing_values_count

play_id                               0
game_id                               0
home_team                             0
away_team                             0
posteam                           13242
                                  ...
penalty_type                     418232
defensive_two_point_attempt       12874
defensive_two_point_conv          12874
defensive_extra_point_attempt     12874
defensive_extra_point_conv        12874
Length: 255, dtype: int64

In [8]:
missing_values_count[0:10]  #seeing the first 10 values

play_id              0
game_id              0
home_team            0
away_team            0
posteam          13242
posteam_type     12879
defteam          12879
side_of_field      600
yardline_100     13070
game_date            0
dtype: int64

In [13]:
#total missing values 
total_cells = np.product(nfl_data.shape)
total_cells

114589605

In [14]:
total_missing = missing_values_count.sum()
total_missing

44121484

In [15]:
#percentage of data missing 
percent_missing = (total_missing/total_cells)*100
percent_missing

38.50391490571942

In [16]:
#approach 1 
# drop missing values
nfl_data.dropna()  #removed all the data becoz every coulmn atleast contain one nan value

Empty DataFrame
Columns: [play_id, game_id, home_team, away_team, posteam, posteam_type, defteam, side_of_field, yardline_100, game_date, quarter_seconds_remaining, half_seconds_remaining, game_seconds_remaining, game_half, quarter_end, drive, sp, qtr, down, goal_to_go, time, yrdln, ydstogo, ydsnet, desc, play_type, yards_gained, shotgun, no_huddle, qb_dropback, qb_kneel, qb_spike, qb_scramble, pass_length, pass_location, air_yards, yards_after_catch, run_location, run_gap, field_goal_result, kick_distance, extra_point_result, two_point_conv_result, home_timeouts_remaining, away_timeouts_remaining, timeout, timeout_team, td_team, posteam_timeouts_remaining, defteam_timeouts_remaining, total_home_score, total_away_score, posteam_score, defteam_score, score_differential, posteam_score_post, defteam_score_post, score_differential_post, no_score_prob, opp_fg_prob, opp_safety_prob, opp_td_prob, fg_prob, safety_prob, td_prob, extra_point_prob, two_point_conversion_prob, ep, epa, total_home_epa, total_away_epa, total_home_rush_epa, total_away_rush_epa, total_home_pass_epa, total_away_pass_epa, air_epa, yac_epa, comp_air_epa, comp_yac_epa, total_home_comp_air_epa, total_away_comp_air_epa, total_home_comp_yac_epa, total_away_comp_yac_epa, total_home_raw_air_epa, total_away_raw_air_epa, total_home_raw_yac_epa, total_away_raw_yac_epa, wp, def_wp, home_wp, away_wp, wpa, home_wp_post, away_wp_post, total_home_rush_wpa, total_away_rush_wpa, total_home_pass_wpa, total_away_pass_wpa, air_wpa, yac_wpa, ...]
Index: []

[0 rows x 255 columns]

In [19]:
# remove all column with atleast one missing value
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.head()

,play_id,game_id,home_team,away_team,game_date,game_half,quarter_end,drive,sp,qtr,...,total_away_pass_wpa,total_home_comp_air_wpa,total_away_comp_air_wpa,total_home_comp_yac_wpa,total_away_comp_yac_wpa,total_home_raw_air_wpa,total_away_raw_air_wpa,total_home_raw_yac_wpa,total_away_raw_yac_wpa,replay_or_challenge
0,46,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,68,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,-0.004655,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038,0
2,92,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,-0.004655,-0.028383,0.028383,0.033038,-0.033038,-0.028383,0.028383,0.033038,-0.033038,0
3,113,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.044921,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463,0
4,139,2009091000,PIT,TEN,2009-09-10,Half1,0,1,0,1,...,0.044921,-0.028383,0.028383,0.033038,-0.033038,0.081542,-0.081542,-0.126463,0.126463,0

In [20]:
#how much data we actually lost
print("Coulmn in original data set : %d \n" %nfl_data.shape[1])
print("Coulmn with na's dropped : %d" %columns_with_na_dropped.shape[1])

Coulmn in original data set : 255

Coulmn with na's dropped : 50

In [25]:
nfl_data.columns

Index(['play_id', 'game_id', 'home_team', 'away_team', 'posteam',
       'posteam_type', 'defteam', 'side_of_field', 'yardline_100', 'game_date',
       ...
       'penalty_player_id', 'penalty_player_name', 'penalty_yards',
       'replay_or_challenge', 'replay_or_challenge_result', 'penalty_type',
       'defensive_two_point_attempt', 'defensive_two_point_conv',
       'defensive_extra_point_attempt', 'defensive_extra_point_conv'],
      dtype='object', length=255)

In [27]:
#approach 2
# filling in missing values automatically
#get a small subset of the NFL dataset
subset_nfl_dataset = nfl_data.loc[:,'penalty_player_id':'defensive_extra_point_conv'].head()
subset_nfl_dataset

,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
1,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
2,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
4,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

In [28]:
# filling nan values with 0
subset_nfl_dataset.fillna(0)

,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0
1,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0
2,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0
3,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0
4,0,0,0.0,0,0,0,0.0,0.0,0.0,0.0

In [31]:
 #replace all NA's the value that comes directly after it in the same column, 
# then replace all the remaining na's with 0
subset_nfl_dataset.fillna(method='bfill',axis =0).fillna(0)

,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0